
@*
    admin layout sidebar
*@

<!--start sidebar -->
<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="~/main-files/fobia/ltr/assets/images/logo-icon-2.png" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text"> Fobia-Admin</h4>
        </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>
            <a href="/Admin/Static/Dashboard">
                <div class="parent-icon">
                    <ion-icon name="home-outline"></ion-icon>
                </div>
                <div class="menu-title">İstatistikler</div>
            </a>
        </li>
        <li>
            <a href="/Admin/Banner/Index">
                <div class="parent-icon">
                    <ion-icon name="briefcase-outline"></ion-icon>
                </div>
                <div class="menu-title">Sayfa Afişlerimiz</div>
            </a>
        </li>

        <li>
            <a href="/Admin/Category/Index">
                <div class="parent-icon">
                    <ion-icon name="gift-outline"></ion-icon>
                </div>
                <div class="menu-title">Kategorilerimiz</div>
            </a>
        </li>
        <li>
            <a href="/Admin/Contact/Index">
                <div class="parent-icon">
                    <ion-icon name="leaf-outline"></ion-icon>
                </div>
                <div class="menu-title">İletişim</div>
            </a>
        </li>
        <li>
            <a href="/Admin/Product/Index">
                <div class="parent-icon">
                    <ion-icon name="newspaper-outline"></ion-icon>
                </div>
                <div class="menu-title">Ürünlerimiz</div>
            </a>
        </li>


        <li class="menu-label">Diğer Sayfalar</li>

        <li>
            <a href="/Admin/User/ChangePassword">
                <div class="parent-icon">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                </div>
                <div class="menu-title">Şifre Ayarı</div>
            </a>
        </li>
        <li>
            <a href="/Admin/Role/Index">
                <div class="parent-icon">
                    <ion-icon name="people-outline"></ion-icon>
                </div>
                <div class="menu-title">Roller</div>
            </a>
        </li>
        <li>
            <a href="/Admin/User/Index">
                <div class="parent-icon">
                    <ion-icon name="person-circle-outline"></ion-icon>
                </div>
                <div class="menu-title">Kullanıcılarımız</div>
            </a>
        </li>
        <li>
            <a href="/Admin/User/UpdateUser">
                <div class="parent-icon">
                    <ion-icon name="create-outline"></ion-icon>
                </div>
                <div class="menu-title">Profil Güncelle</div>
            </a>
        </li>
        <li>
            <a href="/Admin/Comment/Index">
                <div class="parent-icon">
                    <ion-icon name="receipt-outline"></ion-icon>
                </div>
                <div class="menu-title">Yorumlarım</div>
            </a>
        </li>
        <li>
            <a href="/Admin/Blog/Index">
                <div class="parent-icon">
                    <ion-icon name="copy-outline"></ion-icon>
                </div>
                <div class="menu-title">Bloglarım</div>
            </a>
        </li>
        <li>
            <a href="/Admin/User/Map">
                <div class="parent-icon">
                    <ion-icon name="map-outline"></ion-icon>
                </div>
                <div class="menu-title">Kullanıcı Ülkeleri</div>
            </a>
        </li>

        <!-- YENİ EKLENEN MENÜLER -->
        <li>
            <a href="/Admin/Testimonial/Index">
                <div class="parent-icon">
                    <ion-icon name="chatbubbles-outline"></ion-icon>
                </div>
                <div class="menu-title">Testimonial</div>
            </a>
        </li>
        <li>
            <a href="/Admin/OurHistory/Index">
                <div class="parent-icon">
                    <ion-icon name="book-outline"></ion-icon>
                </div>
                <div class="menu-title">Hikayemiz</div>
            </a>
        </li>
        <li>
            <a href="/Admin/Promotion/Index">
                <div class="parent-icon">
                    <ion-icon name="megaphone-outline"></ion-icon>
                </div>
                <div class="menu-title">Promosyon</div>
            </a>
        </li>
        <li>
            <a href="/Admin/Video/Index">
                <div class="parent-icon">
                    <ion-icon name="videocam-outline"></ion-icon>
                </div>
                <div class="menu-title">Video</div>
            </a>
        </li>

    </ul>
    <!--end navigation-->
</aside>



